.home-container {
  padding: 40px;
}

.home-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.02em;

  color: #000000;
}

.home-content p {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;

  letter-spacing: 0.02em;

  color: #7e7e7e;
}

.start-button {
  color: #fff;
}

@media (min-width: 576px) {
  .home-content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: 0.02em;

    color: #000000;
  }

  .home-content p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: #7e7e7e;
  }
}
