.list-movie-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-movie-filter {

  justify-content: flex-start;

}

.list-movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


