.car-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
}

.card-top-container img {
  width: 220, 72px;
  height: 165px;
}

.card-bottom-container {
  text-align: left;
  padding: 15px 20px 30px 20px;
}

.card-bottom-container h6 {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  display: flex;
  justify-content: center;
}

.card-bottom-container p {
  font-weight: 400;
  font-size: 14px;
  color: #585858;
  font-style: italic;
  text-align: left;
}

.card-bottom-buttom button {
  background: #00285f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  width: 266px;
  height: 40px;
}
.card-bottom-buttom {
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .car-card {
    width: 306px;
    height: 347px;
  }
}
